<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="basePath" value="C:\Darshana\DesktopSync"/>    
    
    <add key="awsAccessKeyId" value=""/>
    <add key="awsSecretAccessKey" value=""/>
    <add key="bucketName" value="darshana-main"/>
    
    <!-- set proxyHost, proxyPort, username, password value="" for no proxy -->
    <add key="proxyHost" value=""/>    
    <add key="proxyPort" value="8080"/>
    <add key="userName" value=""/>
    <add key="password" value=""/>
    
    <!-- set initSync true for download all, false for upload-->
    <add key="initSync" value="false"/>
    <!-- set downloadBaseDir for directory to downlaod all -->
    <add key="downloadBaseDir" value="C:\Darshana\DesktopDownloadSync"/>
    
  </appSettings>
</configuration>